<html>  
  <head>
    <title>Career Stat Chart</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <style>
  body {
    background-color: #d1e5f0;
    font: 14px sans-serif;
  }
  </style>
  </head>
  <body>
    <a href="/"><img src="/static/home.jfif" width="50" height="50"></a>
    <a href="/batters"><img src="/static/bat.jfif" width="50" height="50"></a> 
    <a href="/pitchers"><img src="/static/pitch.jfif" width="50" height="50"></a>
    <h2 align="center">Career Stat Chart</h2></br>
  <div class="container">
    <div class="panel-body"  align="center">
      <img  src="data:image/png;base64, {{image}}">
    </div>
  </div>
  </body>
</html>  