<html>  
  <head>
    <title>Hello World</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
	<script src="https://d3js.org/d3.v3.min.js"></script>
  </head>
  <body>
    <form method="POST" action="/compare">
      {% for result in players %}
        <p>{{result}}</p>
      {% endfor %}
      <select name="season">
      {% for season in seasons %}
        <option value="{{season}}">{{season}}</option>
      {% endfor %}
      </select> <br/>
      {% for stat in stats %}
        {{stat}}<input type="checkbox" name="stats" value="{{stat}}">
      {% endfor %}
      <input type="submit" value="Compare These Stats">
    </form>
  </body>
</html>  